.Navigation{
    margin-bottom: 2vmin;
}
.Navigation-nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#6bb6ff;
    padding:0 2vmin;
}

.Navigation-nav-logo img{
    width:4vmin;
    transform: translateY(0.2vmin);
}

.Navigation-nav ul{
    display:flex;
    align-items:center;
    list-style:none;
}
.Navigation-nav li{
    margin-left: 2vmin;
}
.Navigation-nav a{
    text-decoration:none;
    font-size: 2.5vmin;
    color:#175ca0;
    padding:0.4vmin 0.8vmin;
    border-radius: 0.6rem;
}
.Navigation-nav a.active{
    background-color: rgba(255, 255, 255, 0.438);
}