.Log{
    border:1px solid grey;
    font-size: 3vmin;
    letter-spacing: 0.3vmin;
    position: relative;
    padding-right: 5vmin;
    cursor: pointer;
}

.Log img{
    position: absolute;
    bottom:0;
    right:1vmin;
    width:3vmin;
    cursor: pointer;
}

.Log-content{
    margin-bottom:2vmin;
}
.Log-content.red{
    color:red;
}
.Log-content.blue{
    color:blue;
}

.Log-writer-info span{
    font-weight: bold;
}

@media (max-width:500px){
    .Log{
        font-size: 3.5vmin;
    }
}
@media (max-width:400px){
    .Log{
        font-size: 4.5vmin;
    }
}